<div class="row" >
    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 center" id="container">
        <h1>What you should do:</h1>
        <div>
        <h2> {{ doMessage }} </h2>
        </div>
        <h1> Join a room</h1>
        <ul>
            <li class="listItem" ng-repeat="room in rooms | filter:filterInactive track by $index">
                Room #{{$index+1}}
                <button class="btn" ng-click="joinRoom(room)">Join game!</button>
            </li>
        </ul>
        <button class="btn" id="create" ng-click="createGame()">Create a game</button>
    </div>
</div>
